/* ⬇⬇⬇---deault setting---⬇⬇⬇ */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0 5px 0;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fbd296;
}

body {
  background: #a60321;
  color: #1b2440;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}

input:focus {
  outline: none;
}

p {
  line-height: 22px;
  font-size: 1rem;
}

h5 {
  color: #333;
  font-size: 1.75rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  color: #f2b705;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  line-height: 30px;
  font-size: 1rem;
}
.btn_f {
  background-color: #004a13;
  font-weight: 400;
  color: #fffefc;
  width: fit-content;
  height: 38px;
  border: none;
  border-radius: 4px;
}

.btn_s {
  background-color: white;
  border: 1px solid #004a13 !important;
  font-weight: 400;
  color: #004a13;
  width: -moz-fit-content;
  width: fit-content;
  height: 38px;
  border: none;
  border-radius: 4px;
}

.btn_g {
  background-color: lightgray;
  font-weight: 400;
  color: #1b2440;
  width: 108px;
  height: 38px;
  border: none;
  border-radius: 4px;
}

.btn_l {
  background-color: rgb(240, 181, 5);
  font-weight: 400;
  color: #1b2440;
  width: 10rem;
  height: 38px;
  border: 0px;
  border-radius: 4px;
}

.btn_l:hover {
  background: rgba(240, 181, 5, 0.6);
  transition: 0.6s;
}

/* ⬆⬆⬆---deault setting---⬆⬆⬆ */

.custom {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  height: 100vh;
}

@media (max-width: 767px) {
  .custom {
    height: fit-content;
  }
}

.custom_page {
  height: 100%;
  border: 5px double #1b2440;
  background: white;
  overflow: scroll;
}

.mat_space {
  height: 100%;
  background: white;
  overflow: auto;
}

@media (max-width: 767px) {
  .mat_space {
    height: fit-content;
    margin-top: 40px;
  }
}

.logo_wrap {
  margin: 0 auto;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  border: 5px double #1b2440;
  width: fit-content;
}

.logo_wrap h2 {
  color: #a60321;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mat_canvas {
  transition: 0.3s;
  width: 80%;
  height: 80%;
}

.mat_show_wrap {
  background-color: rgb(63, 85, 114);
  /* border-radius: 4px; */
  /*     width: 183px;
    height: 519px; */
  /* box-shadow: 0px 5px 6px #848484; */
}

.upper-canvas.mat_show_wrap {
  background-color: transparent !important;
}

/* 呈現區 */

/* 選項區 */
.push {
  width: 35px;
}

.custom_optiom_wrap {
  width: 100%;
  height: 100%;
}

.custom_title_wrap,
.custom_btn,
.option_container {
  width: 100%;
}
.custom_title_wrap {
  margin-bottom: 30px;
}

.custom_total_price {
  color: #db5c00;
  font-size: 1.75rem;
}

#mat-total-price {
  color: #db5c00;
  background: none;
  border: none;
  width: 80px;
  text-align: center;
}
#mat-total-price:focus {
  outline: none;
}

.add_cart_icon img {
  width: 30px;
  height: 30px;
}
.add_cart_icon:hover {
  cursor: pointer;
}

.count {
  font-size: 24px;
  color: #004a13;
  background: none;
  border: none;
  width: 100%;
  text-align: center;
}
.count:focus {
  outline: none;
}

.custom_btn {
  margin-bottom: 30px;
}

.done_btn button {
  margin-left: 20px;
}

/* 選項區框框裡 */

.all_option_wrap {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
/* 即時數據 */
.choose input {
  background: none;
  border: none;
  width: 50px;
  text-align: center;
}

.add_pay input {
  background: none;
  border: none;
  width: 35px;
  text-align: left;
}

/* 邊框粗細 */
.option_item_title_wrap {
  border-top: 1px solid #848484;
  background-color: #03a696;
}

.option_item_title_wrap,
.option_button {
  border-left: 1px solid #848484;
  border-right: 1px solid #848484;
}
.option_button {
  border-top: 1px solid #848484;
  background: #f2b705;
}

.bt2 {
  border-top: 1px solid #848484;
}
.bb2 {
  border-bottom: 1px solid #848484;
}

.btno {
  border-top: none;
  border-bottom: 1px solid #848484;
}

.option_item_title_wrap {
  align-items: center;
  height: 50px;
  padding-left: 30px;
}

.item_title {
  font-weight: 500;
  margin-right: 30px;
}

.choose.img_item {
  width: 30px;
  height: 30px;
}

/* +- */
.fold {
  text-align: center;
  cursor: pointer;
  margin: 20px;
  height: 15px;
  width: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  /* background:#004a13; */
  transform: rotate(-45deg);
}

.fold img {
  width: 16px;
  height: 50px;
  margin: 0 auto;
}

.fold .more {
  width: 16px;
  height: 16px;
}

.fold img:hover {
  opacity: 0.5;
}

.option_button {
  padding: 30px;
}

.how {
  text-align: right;
}

.how a {
  font-size: 14px;
  color: #f2a200;
}

/*長寬 */

.long_btn button,
.width_btn button {
  width: 65px;
  margin-top: 20px;
  margin-right: 20px;
}
.m_long_btn button,
.m_width_btn button {
  width: 65px;
  margin-top: 20px;
  margin-right: 20px;
}

/* 厚度 */
.thickness button {
  width: 65px;
  margin-right: 30px;
}
.m_thickness button {
  width: 65px;
  margin-right: 30px;
}

/* 材質 */

.texture button {
  width: 90px;
  margin-right: 30px;
}
.m_texture button {
  width: 90px;
  margin-right: 30px;
}

.texture p {
  margin-left: -10px;
}

/* 顏色 */
.choose.color {
  background-color: rgb(63, 85, 114);
}

.color {
  width: 30px;
  height: 30px;
  border: 1px solid #848484;
  border-radius: 50%;
  margin-right: 20px;
}

/* 圖案 */
.img_item_wrap {
  margin-bottom: 30px;
}

.img_item {
  width: 70px;
  height: 70px;
  border: 1px solid #848484;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img_item img {
  height: 100%;
}

.img_defining button {
  margin-right: 20px;
}

/* 文字 */
.print {
  margin-bottom: 30px;
}
.print button {
  margin-right: 20px;
}

.print span {
  margin-right: 30px;
}

.m_print {
  margin-bottom: 30px;
}
.m_print button {
  margin-right: 20px;
}

.m_print span {
  margin-right: 30px;
}

.add_text {
  margin-bottom: 20px;
}
.add_text input {
  margin-right: 20px;
}

/* JQ  CLASS */

.option_hide {
  display: none;
}

/*-------- 手機mobile */

.m_custom {
  display: none;
}

/* @media (max-width: 500px) {
    ::-webkit-scrollbar {
      display: none;
    }
  
    .m_custom {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      display: block;
      background-color: #fffefc;
    }
    .m_custom_header {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      margin-bottom: 15px;
    }
  
    .m_custom_header button {
      width: 80px;
      height: 40px;
    }
    .m_custom_header div {
      font-size: 20px;
    }
  
    .custom_total_price {
      font-size: 20px;
      font-weight: 500;
    }
  
    .custom_title_wrap,
    .custom_btn,
    .option_container {
      width: 100%;
      padding: 15px;
    }
  
    .custom_title_wrap {
      margin-bottom: 0px;
    }
  
    .m_zoom_icon {
      right: 30px;
    }
  
    .m_zoom_icon img {
      height: 32px;
      margin-bottom: 25px;
    }
  
    .m_mat_space {
      overflow: scroll;
      height: 420px;
    }
  
    .m_mat_space .zoom_icon svg use {
      width: 30px;
    }
  
    .option_scroll {
      width: 100vw;
      overflow-x: auto;
    }
  
    /* 選項 */
.m_bottom {
  position: absolute;
  bottom: 0;
}

.m_option_item {
  width: 450px;
  overflow-x: scroll;
  height: 50px;
  background-color: rgba(255, 249, 237, 0.7);
}

.m_item_title {
  padding: 20px;
}

.m_title_check {
  background-color: rgba(242, 162, 0, 0.5);
}

.m_option_button_wrap {
  width: 600vw;
  background: none;
  height: 200px;
}

.m_item_button {
  width: 100vw;
  padding-left: 30px;
  overflow: hidden;
}
.m_item_button p {
  margin-top: 10px;
}

.m_size_btn button {
  width: 65px;
  margin-top: 10px;
  margin-right: 20px;
}

.m_img_item_wrap {
  width: 460px;
  margin-bottom: 20px;
}

.img-scroll-wrap {
  overflow-x: auto;
}

.m_img_defining p {
  margin-left: 10px;
  font-size: 14px;
}

.add_text input {
  margin-right: 10px;
}

.question_mark {
  color: #db5c00;
  font-size: 24px;
  font-weight: bolder;
  right: 30px;
  top: 15px;
}

/* 彈跳視窗 */

.modal-size {
  margin-left: 100px;
  width: 600px;
  height: 400px;
}
.out_body {
  padding-top: 40px;
  text-align: center;
}
.out_body p {
  font-size: 24px;
  line-height: 50px;
}
.out_body p a {
  color: #db5c00;
}

.out_header {
  padding: 30px;
}

.m_out_body {
  padding-top: 40px;
  text-align: center;
}
.m_out_body p {
  font-size: 24px;
  line-height: 50px;
}
.m_out_body p a {
  color: #db5c00;
}

.m_out_header {
  padding: 30px;
}
.m_out_header img {
  width: 40px;
  left: -275px;
}

.m_modal-size {
  height: 700px;
}

.m_out_body button {
  margin-bottom: 60px;
  height: 60px;
  width: 150px;
}

.m_out_hide {
  display: none;
}

.m_cart_content p {
  margin-top: -100px;
}
.m_save_wrap {
  margin-top: -100px;
}

.modal-content .canvas-container {
  margin: 0 auto;
}

/* .tooltipwrapper {
  
  &:hover .tooltiptext {
    visibility: visible;
  }
} */

.tooltiptext {
  /* visibility: hidden; */
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  background-color: #d3d5db;
  color: black;
  position: absolute;
  z-index: 1;
  top: -10px;
  /* right: -10px; */
  /* width: 180px; */
  transform: translate(0%, -100%);
  font-size: 12px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: calc(100% + -1px);
  left: 50px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d3d5db transparent transparent transparent;
}

.sticker {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
